.table-striped > thead > tr:nth-child(2n + 1) > td,
.table-striped > thead > tr:nth-child(2n + 1) > th {
  background-color: #7591a7;
}
.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: #adcfeb;
}

.table-striped > tbody > tr:nth-child(2n) > td,
.table-striped > tbody > tr:nth-child(2n) > th {
  background-color: #7591a7;
}

.table td,
.table th {
  text-align: center;
}
