<div id="navigation" class="container mt-3">
  <div class="row justify-content-center">
    <div class="col">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item mt-2">
          <a
            class="nav-link active"
            id="currently-tab"
            data-toggle="tab"
            href="#current"
            role="tab"
            aria-controls="current"
            aria-selected="true"
            >Currently</a
          >
        </li>
        <li class="nav-item mt-2">
          <a
            class="nav-link"
            id="hourly-tab"
            data-toggle="tab"
            href="#hour"
            role="tab"
            aria-controls="hour"
            aria-selected="false"
            >Hourly</a
          >
        </li>
        <li class="nav-item mt-2">
          <a
            class="nav-link"
            id="weekly-tab"
            data-toggle="tab"
            href="#week"
            role="tab"
            aria-controls="week"
            aria-selected="false"
            >Weekly</a
          >
        </li>

        <li class="nav-item ml-auto pt-1">
          <div class="row">
            <a
              class="twitter-share-button pr-4"
              href="{{ twitterUrl }}"
              hashtags="CSCI571WeatherSearch"
              target="_blank"
            >
              <img
                src="https://csci571.com/hw/hw8/Images/Twitter.png"
                style="width: 4vw; height:50px; min-width: 2.5em;"
            /></a>

            <button
              class="material-icons mr-2"
              (click)="toggleFav()"
              *ngIf="!isFav"
              style="border: none;"
            >
              star_border
            </button>
            <button
              class="material-icons mr-2"
              (click)="toggleFav()"
              *ngIf="isFav"
              style="color: #C69F3D;border: none;"
            >
              star
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- for different display -->

  <div class="row mt-4">
    <div class="mx-auto">
      <div class="tab-content" id="myTabContent">
        <!-- weather cards -->
        <div
          class="tab-pane fade show active"
          id="current"
          role="tabpanel"
          aria-labelledby="currently-tab"
        >
          <div
            class="card border-dark mb-3"
            style="background-color:#ADCFEB; max-width: 34em; min-width: 24em "
          >
            <div class="card-body mx-3">
              <div class=" row d-flex  mb-2">
                <div class="col mr-5">
                  <h4 class="card-title ">{{ cityName }}</h4>
                  <h4 class="card-subtitle pb-3">
                    <small>{{ weatherJson["timezone"] }}</small>
                  </h4>

                  <h2 class="mb-3">
                    {{ round(weatherJson["currently"].temperature) }}
                    <img
                      class="align-top"
                      style="height: 1vw; width: 1vw; "
                      src="https://cdn3.iconfinder.com/data/icons/virtual-notebook/16/button_shape_oval-512.png"
                    />
                    F
                  </h2>
                  <div class="card-subtitle pb-3">
                    {{ weatherJson["currently"].summary }}
                  </div>
                </div>

                <div class="col">
                  <img
                    src="{{ imageUrl }}"
                    style="width:120px; height: 120px;"
                    class="mt-3"
                  />
                </div>
              </div>

              <div class="d-flex justify-content-between">
                <div class="col">
                  <img
                    tooltip="Humidity"
                    src="https://cdn2.iconfinder.com/data/icons/weather-74/24/weather-16-512.png"
                    style="width: 30px; height: 30px;"
                  />
                  <div class="text-center">
                    {{ weatherJson["currently"].humidity }}
                  </div>
                </div>

                <div class="col">
                  <img
                    tooltip="Pressure"
                    src="https://cdn2.iconfinder.com/data/icons/weather-74/24/weather-25-512.png"
                    style="width: 30px; height: 30px;"
                  />
                  <div class="text-center">
                    {{ weatherJson["currently"].pressure }}
                  </div>
                </div>
                <div class="col">
                  <img
                    tooltip="WindSpeed"
                    src="https://cdn2.iconfinder.com/data/icons/weather-74/24/weather-27-512.png"
                    style="width: 30px; height: 30px;"
                  />
                  <div class="text-center">
                    {{ weatherJson["currently"].windSpeed }}
                  </div>
                </div>
                <div class="col">
                  <img
                    tooltip="Visibility"
                    src="https://cdn2.iconfinder.com/data/icons/weather-74/24/weather-30-512.png"
                    style="width: 30px; height: 30px;"
                  />
                  <div class="text-center">
                    {{ weatherJson["currently"].visibility }}
                  </div>
                </div>
                <div class="col">
                  <img
                    tooltip="CloudCover"
                    src="https://cdn2.iconfinder.com/data/icons/weather-74/24/weather-28-512.png"
                    style="width: 30px; height: 30px;"
                  />
                  <div class="text-center">
                    {{ weatherJson["currently"].cloudCover }}
                  </div>
                </div>
                <div class="col">
                  <img
                    tooltip="Ozone"
                    src="https://cdn2.iconfinder.com/data/icons/weather-74/24/weather-24-512.png"
                    style="width: 30px; height: 30px;"
                  />
                  <div class="text-center">
                    {{ weatherJson["currently"].ozone }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- hour card -->
        <div
          class="tab-pane fade"
          id="hour"
          role="tabpanel"
          aria-labelledby="hourly-tab"
        >
          <select class="col-3" (change)="updateChart($event.target.value)">
            <option value="temperature" selected>Temperature</option>
            <option value="pressure">Pressure</option>
            <option value="humidity">Humidity</option>
            <option value="ozone">Ozone</option>
            <option value="visibility">Visibility</option>
            <option value="windSpeed">Wind Speed</option>
          </select>

          <div class="chart-container" style="height:40vh; width:60vw">
            <canvas id="barChart"> </canvas>
          </div>
        </div>

        <!-- week card -->
        <div
          class="tab-pane fade"
          id="week"
          role="tabpanel"
          aria-labelledby="weekly-tab"
        >
          <div class="chart-container" style="height:30vh; width:60vw">
            <div id="weeklyChart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
